fastapi==0.135.1
uvicorn==0.41.0
sqlalchemy==2.0.48
psycopg2-binary==2.9.10
python-dotenv==1.2.2
jinja2==3.1.6
itsdangerous==2.2.0
python-multipart==0.0.22
bcrypt==4.0.1
reportlab==4.4.10
pillow==12.2.0
python-jose==3.5.0
starlette==0.52.1
httpx==0.28.1
requests==2.33.1
pydantic==2.12.5
openpyxl==3.1.5
fpdf2==2.8.7
geopy==2.4.1